.chat-input-container {
  display: flex;
  width: 100%;
}
  
.chat-input-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.8em;
}
  
.user-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--black-color);
}

.user-icon img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
  
.chat-input {
  outline: none;
  flex-grow: 1;
  padding: 1em;
  word-spacing: 3px;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid var(--sea-green);
}


.image-modal {
  width: 100%;
  height: 100%;
  position: relative;
}

.close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ccc;
  display: grid;
  place-items: center;
}