.container {
  min-height: 100vh;
  justify-content: center;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.form-card {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 10px #ccc;
}

.form-card--footer {
  width: 100%;
  text-align: center;
}
    
.card-header {
  text-align: center;
  margin-bottom: 20px
}
    
.card-header .log {
  margin: 0;
  font-size: 24px;
  color: black;
}
    
.form-field {
  margin-bottom: 15px;
}

.form-group {
  display: flex;
}

    
label {
  font-size: 18px;
  margin-bottom: 5px;
}
    
.input {
  height: 40px;
  padding-inline: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

.input:focus {
  outline-color: var(--sea-green);
}
    
.submit {
  width: 100%;
  background-color: var(--sea-green);
  opacity: 1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 450ms all linear;
}
    
.submit:hover {
  opacity: 0.4;
}

.form-card__text {
  font-size: 18px;
}

.form-card__text-link {
  font-size: 12px;
  color: var(--sea-green)
}