.chat-sidebar__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.8em;
  padding-bottom: 2em;
}

.chat-sidebar__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.chat-sidebar__detail-img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 1px solid var(--black-color);
  display: grid;
  place-items: center;
  margin-bottom: 0.8em;
}

.chat-sidebar__detail__img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.placeholder {
  font-size: 1.8em;
}

.chat-sidebar__detail__name {
  font-size: 1.4em;
  text-transform: capitalize;
  color: var(--black-color);
}
