.chat-content {
  border-right: 1px solid var(--sea-salt);
  padding-right: 2.5em;
  height: calc(100vh - 11em);
  display: flex;
  flex-direction: column;
}

.chat-with {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
