.contacts {
  padding-top: 1.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 60%;
  gap: 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.contacts-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.contact-list {
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: thin;
}

.contact-item {
  display: flex;
  width: 100%;
  padding-block: 0.8em;
  border-bottom: 1px solid #eaeaea;
  background: none;
  transition: 450ms background linear;
}

.contact-item:hover {
  background: var(--sea-salt);
}

.contact-item.active {
  border-bottom: none;
  background: var(--sea-salt);
}

.contact-button {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.contact-item__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.contact-item__left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--isabeline);
  margin-right: 1em;
  display: grid;
  place-items: center;
}

.contact-item__right {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex: 1;
  align-self: stretch;
  align-items: center;
}

.last-chat {
  display: flex;
  flex-direction: column;
}

.chat-state {
  display: flex;
  flex-direction: column;
}

.last-chat__message {
  display: inline;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
}

.input {
  height: 40px;
  background: #fff;
  padding-inline: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: 500ms;
}

.input:focus {
  outline-color: var(--sea-green);
}